name: Deploy Web Documentation

on:
  release:
    types:
      - created

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: bigladder/github-actions/setup-python-poetry@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build web
        run: poetry run doit generate_web_docs
      - name: Deploy to GitHub pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./.lattice/docs/web/public
